html {
  height: 100%;
  width: 100%;
  font-family: "Titillium Web", sans-serif;
}
body, css {
    margin: 0;
    padding: 0;
    background-color: #f3fff0b2;
    text-align: center;
  }
  
  body * {
    margin: 1em;
    padding: 0;
    list-style: none;
  }
  #main-content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border: 1px solid #333;
    background: rgba(255, 0, 255, 0.3);
    padding: 15px 20px 18px 18px;
    border-radius: 5px;
    box-shadow: 2px 5px 5px #333;
  }
  #image, #image1, #image2 {
    display: none;
    width: 200px;
    height: auto;
    /* Add any desired styling to the image */
  }
  #logo-image {
    width: 15 px;
    height: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .brand {
    width: 11em;
    border: 3px solid #DE3163;
    box-shadow: 9px 6px 4px #5B2C6F;
    padding: 7px 11px;
    background-image: linear-gradient(150deg, #EAFAF1 , #E8DAEF 30%,#E5E8E8 );
}
    #detailsOfProduct {
      position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border: 1px solid #333;
    background: rgba(255, 0, 0, 0.3);
    padding: 15px 20px 18px 18px;
    border-radius: 5px;
    box-shadow: 2px 5px 5px #333;
    }
    #neckDesign, #color, #size, #price, #inventory{
      position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    border: 1px solid #333;
    background: rgba( 150, 255, 150, 0.3);
    padding: 15px 20px 18px 18px;
    border-radius: 5px;
    box-shadow: 2px 5px 5px #333;
    }
    
     #prodDes, #priceItem, #numItems, #totalAmount {
      position: bottom;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column-reverse;
      border: 1px solid #333;
      background: rgba( 0, 100, 255, 0.3);
      padding: 15px 20px 18px 18px;
      border-radius: 5px;
      box-shadow: 2px 5px 5px #333;
     }
     #prodDes1 {
      position: bottom;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column-reverse;
      border: 1px solid #333;
      background: rgba( 0, 100, 255, 0.3);
      padding: 15px 20px 18px 18px;
      border-radius: 5px;
      box-shadow: 2px 5px 5px #333;
     }
     #priceItem1, #numItems1, #totalAmount1 {
      position: bottom;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column-reverse;
      border: 1px solid #333;
      background: rgba( 0, 100, 255, 0.3);
      padding: 15px 20px 18px 18px;
      border-radius: 5px;
      box-shadow: 2px 5px 5px #333;
     }
     
  #submitDetails{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border: 1px solid #333;
    background: rgba(0, 0, 255, 0.3);
    padding: 15px 20px 18px 18px;
    border-radius: 5px;
    box-shadow: 2px 5px 5px #333;
  }
  #removeFromCart {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border: 1px solid #333;
    background: rgba(150, 150, 125, 0.3);
    padding: 15px 20px 18px 18px;
    border-radius: 5px;
    box-shadow: 2px 5px 5px #333;
  }
  #checkOut {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border: 1px solid #333;
    background: rgba( 0, 255, 0, 0.3);
    padding: 15px 20px 18px 18px;
    border-radius: 5px;
    box-shadow: 2px 5px 5px #333;
  }
  #itemList, #amountWithTax {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    border: 1px solid #333;
    background: rgba( 0, 255, 150, 0.3);
    padding: 15px 20px 18px 18px;
    border-radius: 5px;
    box-shadow: 2px 5px 5px #333;
  }
 
  #exit {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border: 1px solid #333;
    background: rgba( 100, 120, 20, 0.3);
    padding: 15px 20px 18px 18px;
    border-radius: 5px;
    box-shadow: 2px 5px 5px #333;
  }
  section {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
  }
  
  #shirtDetails {
    display: block;
  }
 